@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Open+Sans:ital,wght@0,400;0,700;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-container {
    width: 100%;
    background: white;
    padding: 10px 0;
}

nav {
    /* font-family: 'Open Sans', sans-serif; */
    width: 90%;
    margin: auto;
}

nav, .navbar-brand, i{
	padding: unset !important;
}

nav li {
	padding-left: 10px;
}

nav .navbar-brand {
	margin: 5px;
}

nav img {
	height: 60px;
	margin: 0px;
}

nav a {
	color: black;
	font-weight: bold;
	letter-spacing: .7px;
}

nav a:hover {
	color: red;
}

nav button i {
	/* color: var(--blue); */
	margin: unset;
}

.landing {
    width: 100%;
    padding: 10px 0px;
    background:
            linear-gradient(180deg, rgb(255, 255, 255), rgba(255,0,0,0) 70.71%),
            linear-gradient(230deg, rgba(255, 0, 0, 0.6), rgba(255,0,0,0) 80.71%),
            linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0,255,0,0) 70.71%),
            linear-gradient(3deg, rgba(0, 0, 255, 0.3), rgba(0,0,255,0) 70.71%);
    background-size: 100% 100%;

    /* animation: rainbow 10s ease infinite; */
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.intro {
    /* height: 500px; */
    /* margin: auto; */
    padding-top:  200px;
    margin-left: 5%;
    /* background-color: white; */
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    display: flex;
    align-items: baseline;
}

.about {
    /* background-color: lightgray; */
    padding: 20px 0;
    margin: 0 20px;
    width: 70%;
    /* font-size: 20px; */
}

.about h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 800;
    font-style: italic;
}

.about p {
    font-size: 20px;
}

.about h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-style: italic;
}

.about .skills {
    font-size: 16px;
    font-style: italic;
}

.project-heading {
    /* background-color: rgb(102, 100, 100); */
    padding: 20px 0;
    /* width: 100%; */
    margin-left: 6%;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;

}

.project {
    width: 80%;
    margin: 30px auto;
    /* background: lightpink; */
    display: grid;
    grid-template-rows: 1fr, 3fr, 6fr;
}

/* .first-row div, .project-desc, .third-row .project-skills, .project-links, .repo-links, .project-image{
    border: 2px solid black;
} */

.project{
    border: 4px solid black;
    font-family: 'Hind', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

/* borders */
.first-row, .project-desc, .project-skills, .project-links {
    border-bottom: 4px solid black;
}
.title, .right-panel {
    border-right: 4px solid black;
}

/* first row */
.first-row {
    /* height: 40px; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.gradient-img {
    width: 100%;
    display: flex;
    align-items: center;
}
.first-row .title {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.second-row {
    height: 120px;
}

.project-desc {
    height: 100%;
}

.third-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
}

.project-skills {
    height: 60%;
}

.p-links {
    height: 40%;
}

.project-links, .repo-links {
    height: 50%;
}

.frontend, .backend {
    height: 50%;
    /* background-color: lightgoldenrodyellow; */
}

.d-frontend {
    height: 100%;
    /* background-color: lightseagreen; */
}
