@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&family=Open+Sans:ital,wght@0,400;0,700;1,700;1,800&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
}

:root {
	--pink: #ff00b3;
	--purple: #630daa;
	--gradient: linear-gradient(
			130deg,
			rgba(0, 175, 250, 0.401),
			rgba(255, 0, 0, 0) 80.71%
		),
		linear-gradient(2deg, rgba(133, 3, 255, 0.4), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(230deg, rgba(255, 0, 179, 0.712), rgba(0, 0, 255, 0) 90.71%);
}

.navbar-container {
	width: 100%;
	background: white;
	padding: 10px 0;
}

nav {
	/* font-family: 'Open Sans', sans-serif; */
	width: 90%;
	margin: auto;
}

nav,
.navbar-brand,
i {
	padding: unset !important;
}

nav li {
	padding-left: 10px;
}

nav .navbar-brand {
	margin: 5px;
}

nav img {
	height: 60px;
	margin: 0px;
}

nav a {
	color: black;
	font-weight: bold;
	letter-spacing: 0.7px;
}

nav a:hover {
	color: var(--pink);
}

nav button i {
	/* color: var(--blue); */
	margin: unset;
}
nav a:hover{
	background-image: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.landing {
	width: 100%;
	height: 90vh;
	padding: 10px 0px;
	background: linear-gradient(
			180deg,
			rgb(255, 255, 255),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(230deg, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0) 80.71%),
		linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(3deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%);
	background: linear-gradient(
			180deg,
			rgb(255, 255, 255),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(130deg, rgba(0, 175, 250, 0.401), rgba(255, 0, 0, 0) 80.71%),
		linear-gradient(2deg, rgba(133, 3, 255, 0.4), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(230deg, rgba(255, 0, 0, 0.4), rgba(0, 0, 255, 0) 90.71%);
	background-size: 100% 100%;
	background-size: 200% 100%;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
	0% {
		background-position: 0% 82%;
	}
	50% {
		background-position: 100% 19%;
	}
	100% {
		background-position: 0% 82%;
	}
}

.name h2 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	/* border-right: .15em solid orange; The typwriter cursor */
	white-space: nowrap; 
	/* margin: 0 auto; Gives that scrolling effect as the typing happens */
	/* letter-spacing: .15em; Adjust as needed */
	animation: 
		typing 3s steps(40, end),
		blink-caret .5s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.intro {
	/* height: 500px; */
	/* margin: auto; */
	padding-top: 200px;
	margin-left: 5%;
	/* background-color: white; */
	/* display: grid;
    grid-template-columns: 2fr 1fr; */
	display: flex;
	align-items: baseline;
}

.about {
	/* background-color: lightgray; */
	padding: 20px 0;
	margin: 0 20px;
	width: 70%;
	/* font-size: 20px; */
}

.about h2 {
	font-size: 80px;
	margin-bottom: 20px;
	font-weight: 800;
	font-style: italic;
	text-shadow: 3px 3px 4px #506088;
}

.about p {
	font-size: 20px;
}

.about h4,
.full-about h4 {
	font-size: 20px;
	margin-bottom: 5px;
	font-style: italic;
}

.about .skills {
	font-size: 16px;
	font-style: italic;
}

.sidebar {
	display: none;
}


.project-heading {
	margin-top: 30px;
	padding: 20px 0;
	margin-left: 6%;
	font-size: 30px;
	font-weight: 800;
	font-style: italic;
}

.projects {
	max-width: 900px;
	margin: auto;
}

.project {
	width: 80%;
	margin: 30px auto;
	margin-bottom: 60px;
	display: grid;
	grid-template-rows: 1fr, 3fr, 6fr;
	border: 3px solid black;
	border-top: 4px solid black;
	/* border-bottom: 3px solid black; */
	font-family: 'Hind', sans-serif;
}
.first-row,
.project-desc,
.project-links {
	border-bottom: 3px solid black;
}
.title {
	border-right: 3px solid black;
}
.first-row {
	display: grid;
	grid-template-columns: 2fr 1fr;
	border-bottom: 4px solid black;
}
.gradient-img {
	width: 100%;
	/* height: 100%; */
	display: flex;
	align-items: center;
}
.first-row .title {
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	display: flex;
	align-items: center;
	padding-left: 10px;
}
.second-row .p-links .project-links {
	height: 50px;
	font-family: 'open sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.project-links {
	padding: 0 20px;
	display: flex;
}
.project-links a {
	/* color: #ff00b3; */
	color: var(--purple);
	font-style: italic;
}
.project-links a:hover {
	/* color: #7373df; */
	color: var(--pink);
	text-decoration: none;
}
.d-frontend {
	flex-grow: 2;
	align-self: center;
}
.repo-links {
	flex-grow: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.third-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.project-desc {
	min-height: 50%;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
}
.project-skills {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 20px 10px;
	font-weight: bold;
	color: grey;
	font-style: italic;
}
.project-image {
	display: flex;
}
.project-image img {
	width: 100%;
	align-self: flex-end;
}

#about {
	width: 100%;
	padding: 10px 0px;
	/* background:
            linear-gradient(180deg, rgb(255, 255, 255), rgba(255,0,0,0) 70.71%),
            linear-gradient(230deg, rgba(255, 0, 0, 0.6), rgba(255,0,0,0) 80.71%),
            linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0,255,0,0) 70.71%),
            linear-gradient(3deg, rgba(0, 0, 255, 0.3), rgba(0,0,255,0) 70.71%); */
	/* background:
            linear-gradient(180deg, rgb(255, 255, 255), rgba(255,0,0,0) 70.71%),
            linear-gradient(130deg, rgba(0, 175, 250, 0.401), rgba(255,0,0,0) 80.71%),
            linear-gradient(2deg, rgba(133, 3, 255, 0.4), rgba(0,255,0,0) 70.71%),
            linear-gradient(230deg, rgba(255, 0, 0, 0.4), rgba(0,0,255,0) 90.71%); */
	/* background-size: 100% 100%; */
	/* background-size: 300% 100%;
    animation: rainbow 10s ease infinite; */
}

/* .about-image {
	display: none;
} */

.full-about {
	margin-top: 20px;
	margin-left: 5%;
	margin-bottom: 60px;
	padding: 20px 0;
	width: 90%;
}
.full-about h3 {
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: 800;
	font-style: italic;
}
.full-about p {
	font-size: 20px;
}
.socials a {
	color: black;
	padding: 10px 15px;
}
.socials a:hover {
	/* color: var(--pink); */
	text-decoration: none;
	background-image: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.grow a:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.contact {
	width: 100%;
}
.contactform {
	width: 90%;
	margin: auto;
}
.contactform h3 {
	text-align: left;
	font-size: 40px;
	font-weight: 800;
	font-style: italic;
}
.contactform form {
	max-width: 500px;
	margin: auto;
	margin-top: 20px;
}
.contactform form input,
.contactform form textarea {
	width: 100%;
	box-sizing: border-box;
	margin: 5px auto;
}
.contactform form .submit {
	border: 1px solid transparent;
	font-family: 'open sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 2px;
	padding: 5px;
	background-color: black;
	color: white;
}
.contactform form .submit:hover {
	background: var(--gradient);
	/* border: 1px solid black; */
	color: black;
	/* text-shadow: 1px 1px 2px black, -1px -1px 2px black; */
}

footer {
	background-color: black;
	color: white;
	padding: 20px;
	margin-top: 200px;
	text-align: center;
	letter-spacing: 2px;
	font-style: italic;
	font-size: 18px;
}
